doctype
html
  head
    link(
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.1/normalize.css"
      type="text/css"
    )
    link(
      rel="stylesheet"
      href="/static/css/style.css"
      type="text/css")
  body
    nav
      ul
        a(href='/')
          li Inicio
        a(href='/add')
          li Agregar objeto
    div(class="container")
      block content